@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
    /* Colors */
    --VeryDarkGrayish: hsl(217, 19%, 35%);
    --DesaturatedDark: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    position: relative;
    font-size: .85em;
    font-family: 'Manrope', sans-serif;
    line-height: 1.6;
}

/* Estilo Main */
.main{
    min-height: 100vh;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    background-color: #ECF1F7;
}

/* Estilo contenedor card padre */
.card__container{
    position: relative;
    width: 90%;
    margin: 1rem auto ;
    max-width: 350px;
    background-color: white;
    border-radius: .5rem;
    filter: drop-shadow(2px 2px 5px #74747459);
    
}

/* Estilo imagenes */
.img__ilustration{
    width: 100%;
    max-width: 450px;
    border-radius: .5rem .5rem 0 0;
}

.img__user{
    border-radius: 999px;
    object-fit: cover;
    width: 50px;
    height: 50px;

}

/* Estilo seccion de tarjeta*/
.section__card{
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
    position: relative;
}

.card__title{
    font-size: 1.35em;
}

.card__paragraph{
    color: var(--GrayishBlue);
    padding-right: 1.3rem;
}


/* Estilo tarjeta de usuario */

.card__user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__user--content{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user__name{
    font-weight: 700;
}

.date{
    color: var(--GrayishBlue);
    font-size: .89em;
}

.share{
    background-color: #ECF1F7;
    width: 30px;
    height: 30px;
    border-radius: 999px;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: var(--VeryDarkGrayish);
    filter: drop-shadow(2px 2px 5px #6b6b6b3b);
    z-index: 99;
    transition: .5s ease-in-out;
}

.share--active{
    background-color: var(--VeryDarkGrayish);
    color: #ECF1F7;
}

.share:hover{
    background-color: var(--VeryDarkGrayish);
    color: #ECF1F7;
}

/* Share */

.share__container{
    position: absolute;
    background-color: var(--VeryDarkGrayish);
    padding: 0 1rem 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 .5rem .5rem;
    height: 65px;
    clip-path: inset(100% 0 0 0);
    transition: clip-path .5s ease-in-out;
}

.share__container--show{
    clip-path: inset(0 0 0 0);
    transition: clip-path .5s ease-in-out;
}

.share__text{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--GrayishBlue);
    font-size: .95em;
}

.redes{
    display: flex;
    gap: 1.2rem;
}

.redes__link{
    font-size: 1.5em;
    color: var(--LightGrayishBlue);
    transition: .5s ease-in-out;
}

.redes__link:hover{
    color: #2ec4b6;
}
/* APLICO MEDIASQUERYS */

/* Dispositivo de 768 pixeles */
@media (min-width: 48rem){
    /* Estilo contenedor card padre */
    .card__container{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        position: relative;
        width: 90%;
        margin: 0 auto ;
        max-width: 800px;
        background-color: white;
        border-radius: .5rem;
        filter: drop-shadow(2px 2px 5px #74747459);
        
    }

    .figure__img{
        height: 100%;
    }
    .img__ilustration{
        height: 100%;
        border-radius: .5rem 0 0 .5rem;
    }
    
    .card__title{
        font-size: 1.5em;
        max-width: 380px;
    }
    .card__paragraph{
        color: var(--GrayishBlue);
        padding-right: 0;
        max-width: 380px;
    }
    
    .share__container{
        position: absolute;
        left: unset;
        right: -4%;
        width: 200px;
        bottom: 23%;
        height: 65px;
        clip-path: polygon(51% 100%, 50% 100%, 51% 100%, 50% 100%, 50% 100%, 51% 100%, 51% 100%);
        transition: clip-path .5s ease-in-out;
        padding: .5rem .2rem .5rem 1rem;
    }
    
    .share__container--show{
        clip-path: polygon(0 27%, 100% 26%, 100% 75%, 74% 75%, 67% 98%, 61% 75%, 0% 75%);
        transition: clip-path .5s ease-in-out;
        border-radius: .5rem;
    }

}